/* To include padding, margins, and borders to the sizing. */
*{
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    height: 2000px;
}



.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 700px;
    justify-content: center;
    text-align:center;
}


.stats-img{
    width: 100%;
}
.stats-info{
    background-color: hsl(244, 38%, 16%);
    padding-left: 20px;
    padding-right: 20px;
}

.stats-info h1, .stats-info ul{
    color: hsl(0, 0%, 100%);
    width: 90%;
}

.stats-info p{
    color: hsla(0, 0%, 100%, 0.75);
}


