/* To include padding, margins, and borders to the sizing. */
*{
    box-sizing: border-box;
}

.container{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.card{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 240px 530px;
    text-align:center;
}
.stats-img{
    width: 100%;
    border-radius: 8px 8px 0 0;

}
.stats-info{
    background-color: hsl(244, 38%, 16%);
    padding: 0 20px 0 20px;
    border-radius: 0 0 8px 8px;
}

.stats-info h1, .stats-info ul, .list-numbers{
    color: hsl(0, 0%, 100%);
}
.image{
    background-image: url(../images/image-header-mobile.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.overlay{
    height: 100%;
    z-index: 2;
    background-color: hsl(277deg 80% 35%);
    opacity: 0.6;
    border-radius: 8px 8px 0 0;
}

.stats-info p, li{
    color: hsla(0, 0%, 100%, 0.75);
}

.list-numbers{
    font-size: 1.3rem;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700; 
    text-transform: none;
    letter-spacing: normal;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    width: 241px;
    margin: 30px auto 0 auto;
}

h1 span{
    color: hsl(277, 64%, 61%);
}

ul{
    margin-top: 50px;

}
li{
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    width: 100px;
    margin: 25px auto 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 24px;
}


@media(min-width:1024px){
    .card{
        grid-template-columns: minmax(470px, 555px) minmax(530px, 600px);
        grid-template-rows: 500px;
        text-align: left;
    }

    .image{
        order:2;
        border-top-left-radius:0px;
        border-bottom-right-radius: 8px;
    }

    .stats-info{
        order:1;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 8px;
        padding: 60px 60px 0 60px;
    }

    .overlay{
        border-top-left-radius:0px;
        border-bottom-right-radius: 8px;
    }

    ul{
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
    }

    p, h1, li{
        margin: 0;
    }

    p{
        margin-top:50px;
        width: 390px;
        font-size: 1.1rem;
    }

    h1{
        width: 340px;
        font-size: 2rem;

    }

}