/* To include padding, margins, and borders to the sizing. */
*{
    box-sizing: border-box;
}

.container{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}


.card{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 1fr 530px;
    text-align:center;
}
.stats-img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.stats-info{
    background-color: hsl(244, 38%, 16%);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.stats-info h1, .stats-info ul, .list-numbers{
    color: hsl(0, 0%, 100%);
}

.overlay{
    height: 100px;
    position:absolute;
    background-color:hsl(277, 64%, 61%);
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    width: 241px;
    margin: 30px auto 0 auto;
}

h1 span{
    color: hsl(277, 64%, 61%);
}

.stats-info p, li{
    color: hsla(0, 0%, 100%, 0.75);
}

.list-numbers{
    font-size: 21px;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700; 
    text-transform: none;
    letter-spacing: normal;
}

ul{
    margin-top: 50px;

}
li{
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    width: 100px;
    margin: 25px auto 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 24px;
}
